<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My-Account</title>
</head>
<body>
    <table>
        <h1>First Name:<%-user[0].FirstName %> </h1>
        <h1>Last Name: <%-user[0].LastName %></h1>
        <h1>email:<%-user[0].email %> </h1>
        <h1>password : <%-user[0].password %> </h1>
    </table>
</body>
</html>