<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log-in</title>
</head>
<body>
    <h2>login</h2>
    <form action="/details" method="get">
        email: <input type="text" name="email">
        password: <input type="password" name="password"> 
        <button type="submit">login</button>
    </form>
    <br>
    <form action="/resetpass">  

        <button type="submit">forgetpassword</button>
    </form>

</body>
</html>