<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset-Password</title>
</head>
<body>
    <form action="/update" method="post">
        <h1>email: <input type="email" name="email"> </h1>
        <h1> New password:<input type="password" name="password"> </h1>
    <h1>Confirm Password:<input type="password" name="cpassword"> </h1>
    <button type="submit"> reset</button>
    </form>
    
</body>
</html>